/* Global styles start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
} 
/* Global styles end */

/* utility classes start */
.container {
  position: relative;
}

.d-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.text-soft-blue {
  color: hsl(215, 51%, 70%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}
.text-cyan, .text-white:hover {
  color: hsl(178, 100%, 50%);
}
/* utility classes end */

.card {
  width: 350px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  margin: 5rem auto;
  padding: 25px;
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgb(0, 255, 247, 0.6);
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.container:hover > .overlay {
  visibility: visible;
}

.card-body {
  padding: 20px 0;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card-title {
  font-size: 22px;
}

.card-text {
  padding: 20px 0;
  font-size: 18px;
}

.items {
  justify-content: space-between;
}

.card-footer {
  align-items: center;
  padding-top: 15px;
}

.avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  margin-right: 20px;
}

.attribution {
  font-size: 16px;
  text-align: center;
  color: #fff;
}
    
.attribution a { 
  color: hsl(228, 45%, 44%);
}

/* for mobile devices */
@media screen and (max-width: 480px) {
  .card {
    width: 90%;
  }
}